<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bikes</title>
    <style>
    div{
    margin:250px 400px 60px 550px; 
    padding: 10px 10px 10px 10px;
    font-family: 'Times New Roman',sans-serif;
    font-size: 15px;
    }
    </style>
</head>
<body>

    <div>
        <form  method ="POST">
            <label>Model</label> <br> <input name = "Model" type="text,"  value = "e.g. HONDA"> <br>
            <label>Daily fee (VND)</label> <br> <input name = "Dailyfee" type="text,"  value = "100000"> <br>
            <label>Image</label> <br> <input name = "Image" type="text," value = "e.g. https://hondaxemay.com.vn/"> <br>           
            <label>Year</label> <br> <input name = "Year" type="text," value = "e.g. 2003"> <br><br>
            <button>Summit</button>

        </form>
    </div>
</body>
</html>